html {
    font-size: 16px;
    text-align: center;
}

body {
    color: #1b5e20;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#index {
    background-color: #e8f5e9;
}

#services {
    background-color: #e8f5e9;
}

#team {
    background-color: #e8f5e9;
}

.link {
    color: #1b5e20;

}

.link:hover {
    box-shadow: inset 0rem 0.2rem 0.3rem #73c99b;
    color: rgb(221, 98, 194)
}

h1 {
    color: #099d4e;
    text-decoration: underline;
    font-size: 2rem;
}

.service-item {
    font-size: 1.25rem;
    padding: 1.4rem;

}

.service-item:hover {
    box-shadow: inset 0rem 1.2rem 1.2rem rgba(198, 117, 174, 0.5);
    color: #73c99b;
}

table,
th,
td,
tr {
    border-collapse: collapse;
    border: 0.1rem solid rgb(6, 52, 13);
    text-align: center;
}

th, td {
    color: #1b5e20;
    padding: 1rem;
}

table {
    width: 70%;
    margin: 1rem auto;

}

.btn {
    background-color: #549458;
    color: white;
    text-decoration: none;
    margin: 0.3rem;
    padding: 0.3rem;
}

a:hover {
   box-shadow: inset 0rem 1.2rem 1.2rem rgba(198, 117, 174, 0.5);
    color: #73c99b;
}

a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
}

p {
    font-size: 1.2rem;
    line-height: 1.8;
}

.contact {
    text-align: center;
    color: #1b5e20;
    font-size: 0.8rem;
}

footer {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    margin: 0;
}